@page
@model MajorProjectPages.Pages.Produces.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produce[0].ProduceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produce[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produce[0].InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produce[0].UnitsSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produce[0].CategoryObj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produce[0].AisleObj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Produce) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProduceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryObj.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AisleObj.AisleName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProduceID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProduceID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProduceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
